body{
    background-color: rgb(221, 169, 221);
}

a {
    color: black;
    text-decoration: none;
}
h1 {
    text-align: center;
}
.menu {
    font-size: 40px;
    border-bottom: 1px solid black;
    margin-bottom: 0px;
    padding-bottom: 21px;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 10px;
    border-bottom: 1px solid black;

}

#breakfast {
    border-right: 1px solid black;
}
#lunch {
    border-right: 1px solid black;
}
#snack {
    border-right: 1px solid black;
}
#active {
    color: gray;
}
li {
    font-weight: 600;
}